.wordwrap {
    white-space: pre-wrap; /* CSS3 */
    white-space: -moz-pre-wrap; /* Firefox */
    white-space: -o-pre-wrap; /* Opera 7 */
    word-wrap: break-word; /* IE */
}

.text {
    font-family: Calibri;
}
.text_text {
    color: black;
}
.text_indicator {
    color: blue;
}
.title_text {
    margin-top: 0;
}
h3.first_level {
    font-size: 15pt;
}

p.function_text {
    margin: 0;
    font-size: 12pt;
}

div{
    position: absolute;
    margin: 0;
    padding: 0;
}
div.outer_block {
    display: block;
}
div.inner_block {
    display: block;
    width: 100%;
    margin: 0;
    border: 4px double black;
    text-align: center;
}

div.indicator {
    border: 1px solid black;
    border-top: 0px;
    font-size: 8px;
    text-align: center;
}
