body {
    background-color: white;
    font-family: Calibri, serif;
}
div{
    position: absolute;
    margin: 0;
    padding: 0;
}
.a4_body_book {
    width: 21cm;
    height: 29.7cm;
    margin: 30mm 45mm 30mm 45mm;
}
.a4_body_album {
    width: 29.7cm;
    height: 21cm;
    margin: 30mm 45mm 30mm 45mm;
}

div.outer_block {
    display: block;
}
div.inner_block {
    display: block;
    width: 100%;

    margin: 0;
    border-color: black;
    color: black;
    text-align: center;
}

.title_text {
    padding-top: 5px;
    padding-bottom: 7px;
}

p.function_text {
    margin: 0;
    padding-bottom: 3px;
}

div.firstLevel {
    border-style: double;
    border-color: black;
}
div.secondLevel {
    border-style: double;
    border-color: black;
}
div.secondLevel {
    border-style: double;
    border-color: black;
}

div.first {
    border-style: double;
    border-color: black;
}
.first h3 {
    font-size: 20px;
}
.first p {
    font-size: 13px;
}

div.second {
    border-style: double;
    border-color: black;
}
.second h3{
    font-size: 16px;
}
.second p {
    font-size: 11px;
}

div.independent {
    border-style: solid;
    border-color: black;
}
.independent h3 {
    font-size: 15px;
}
.independent p {
    font-size: 11px;
}

div.dependent {
    border-style: solid;
    border-color: black;
}
.dependent h3 {
    font-size: 12px;
}
.dependent p {
    font-size: 9px;
}

div.default {
    border-style: solid;
    border-color: black;
}
.default h3 {
    font-size: 12px;
}
.default p {
    font-size: 9px;
}

div.indicator {
    border-style: solid;
    border-color: black;
    border-top: 0;
    text-align: center;
}

.text_color_text {

}
.text_color_indicator {

}

div.line {
    border: 0.5px black;
}

div.vertical_line {
    width: 0;
}

div.horizontal_line {
    height: 0;
}

div.solid {
    border-style: solid;
}

div.blue {
    border-color: blue;
}

div.dashed {
    border-style: dashed;
}

div.name_block {
    word-break: break-all;
}

p.prop {
    margin: 0
}

p.prop_name {
    font-weight: 600;
}

.submit_to_image_button {
    position: fixed;
    left: 30px;
    top: 30px;

    width: 5%;
    height: 7%;

    background: none;
    border: none;
}

.submit_to_image_button:active {
    background: #a8a8a8;
}

.submit_to_image_button_img {
    width: 100%;
    height: 100%;
    opacity: 0.4;
}

.submit_to_image_button_img:hover {
    opacity: 1;
}

p.area_name {
    margin: 0;
    font-size: 16px;
    font-weight: bold;
}