body {
    background-color: white;
    font-family: Calibri;
}
div{
    position: absolute;
    margin: 0;
    padding: 0;
}
.a4_body_book {
    width: 21cm;
    height: 29.7cm;
    margin: 30mm 45mm 30mm 45mm;
}
.a4_body_album {
    width: 29.7cm;
    height: 21cm;
    margin: 30mm 45mm 30mm 45mm;
}

div.outer_block {
    display: block;
}
div.inner_block {
    display: block;
    width: 100%;

    margin: 0;
    border-color: black;
    color: black;
    text-align: center;
}

.title_text {
    padding-top: 5px;
    padding-bottom: 5pt;

}

p.function_text {
    margin: 0;
    padding-bottom: 2pt;
}

div.firstLevel {
    border-style: double;
    border-color: black;
}
div.secondLevel {
    border-style: double;
    border-color: black;
}
div.secondLevel {
    border-style: double;
    border-color: black;
}

div.first {
    border-style: double;
    border-color: black;
}
.first h3 {
    font-size: 15pt;
}
.first p {
    font-size: 10pt;
}

div.second {
    border-style: double;
    border-color: black;
}
.second h3{
    font-size: 12pt;
}
.second p {
    font-size: 8pt;
}

div.independent {
    border-style: solid;
    border-color: black;
}
.independent h3 {
    font-size: 11pt;
}
.independent p {
    font-size: 8pt;
}

div.dependent {
    border-style: solid;
    border-color: black;
}
.dependent h3 {
    font-size: 9pt;
}
.dependent p {
    font-size: 7pt;
}

div.default {
    border-style: solid;
    border-color: black;
}
.default h3 {
    font-size: 9pt;
}
.default p {
    font-size: 7pt;
}

div.indicator {
    border-style: solid;
    border-color: black;
    border-top: 0;
    /*background-color: lightyellow;*/
    /*color: blue;*/
    /*font-size: 6pt;*/
    text-align: center;
}

.text_color_text {

}
.text_color_indicator {

}

div.line {
    border: 0.5px black;
}

div.vertical_line {
    width: 0;
}

div.horizontal_line {
    height: 0;
}

div.solid {
    border-style: solid;
}

div.blue {
    border-color: blue;
}

div.dashed {
    border-style: dashed;
}

div.name_block {
    word-break: break-all;
}

p.prop {
    margin: 0
}

p.prop_name {
    font-weight: 600;
}